body{
    background-color: #000000;
}

p{
    color: #fff;
}

a{
    text-decoration: none;
    color: #ffffff
}

a:hover{
    color: #EE0000;
}

header{
    background-color: #000000;
}

.menu{
    position: relative;
}

.navbar-toggler{
    position: absolute;
    top: 15px;
    right: 0;
}

.texto-red{
    text-overflow: ellipsis;
    overflow: hidden;
    color:#EE0000 !important;
    font-size: 7ch;
}

.btn-red{
    background-color: #EE0000;
}

.btn-red:hover{
    background-color: #333;
}

.btn{
    border-radius: 30px;
}

.input-search{
    background-color: #000000;
}

.header-leyenda {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    width: 100%;
}

.slider-borde{
    border-radius: 30px;;
}

.logo-banner{
    width: 30%;
}

.banner{
    background-color: #EE0000;
    border-radius: 30px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-negro{
    background-color: #000000;
}

.card {
    border-radius: 20px;
    color: black;
    animation: fade-in 3s;
}

.card-red{
    border-top: 15px solid #EE0000;
}

.card-gray{
    border-top: 15px solid #333;
}

.card-gold{
    border-top: 15px solid #ffd900;
}

.suscripciones{
    margin: 6%;
    border: 7px solid #ffffff;
    border-radius: 30px;
}

.form-control{
    color: #fff;
    border-radius: 30px;
    background-color: #000;
}

.form-control:focus {
    color: #fff;
    background-color: #333;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #ee000040;
}

.input-dark::placeholder {
    font-size: 18px;
    color: #ffffffb4 !important;
}

.modal-blanco::placeholder {
    color: 333 !important;
}


.collapse-white{
    background-color: #ffffff;
}

.fw-bold{
    color: #fff;
}

.list-group-numbered>.list-group-item::before {
    color: white;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}