.fw-bold,
.list-group-numbered > .list-group-item::before,
a,
p {
color: #fff;
}
.banner,
.btn,
.slider-borde {
border-radius: 30px;
}
.bg-negro,
.input-search,
body,
header {
background-color: #000;
}
.texto-red-desktop,
.texto-red-movil {
text-overflow: ellipsis;
overflow: hidden;
}
a {
text-decoration: none;
}
a:hover {
color: #e00;
}
.menu {
position: relative;
}
.image-banner{
    width: 100%;
    height: 90%;
}
.navbar-toggler {
position: absolute;
top: 15px;
right: 0;
}
.texto-red-movil {
font-size: 4vh;
color: #fff !important;
}
.texto-red-desktop {
font-size: 6vh;
color: #e00 !important;
}
.btn-red {
background-color: #e00;
}
.btn-red:hover,
.form-control:focus,
.header-leyenda {
background-color: #333;
}
.header-leyenda {
color: #fff;
text-align: center;
font-size: 12px;
justify-content: center;
width: 100%;
}
.logo-banner {
width: 30%;
}
.banner {
background-color: #e00;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.card {
border-radius: 20px;
color: #000;
animation: 3s fade-in;
}
.card-red {
border-top: 15px solid #e00;
}
.card-gray {
border-top: 15px solid #333;
}
.card-gold {
border-top: 15px solid #ffd900;
}
.suscripciones {
margin: 6%;
border: 7px solid #fff;
border-radius: 30px;
}
.form-control {
color: #fff;
border-radius: 30px;
background-color: #000;
}
.form-control:focus {
color: #fff;
outline: 0;
box-shadow: 0 0 0 0.2rem #ee000040;
}
.input-dark::placeholder {
font-size: 18px;
color: #ffffffb4 !important;
}
.modal-blanco::placeholder {
color: #000 !important;
}
.form-group .form-control:focus {
color: #333;
}
.collapse-white {
background-color: #fff;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}